<div class="form">
    <mat-form-field appearance="fill" style="margin-top: 2%;">
        <mat-label>Nombre</mat-label>
        <input matInput  [(ngModel)]="data.first_name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="data.last_name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="pat@example.com" type="email"  [(ngModel)]="data.email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tipo de usuario</mat-label>
        <mat-select required [(ngModel)]="data.type_user" (selectionChange)="userValue($event)" >
          <mat-option value="0">Adminstrador</mat-option>
          <mat-option value="1">Funcionario</mat-option>
          <mat-option value="2">Cliente</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password"  [(ngModel)]="data.password">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repita contraseña</mat-label>
        <input matInput type="password"  [(ngModel)]="password2">
      </mat-form-field>

      <div class=create> 
        <button mat-raised-button (click)="createUser()"> Crear usuario</button>
      </div> 
</div>
