table {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    text-align: center;
  }

mat-form-field {
   width: 10%;
   margin-left: 5%;
}  

mat-paginator {
    width: 90%;
    margin-left: 5%;
    margin-top: 2px;
    text-align: center;
}

th {
    font-size: 15px;
}

button{
    background-color:#2A8C4A;
    color:#FFFFFF;
}

.add {
 text-align: center;
 margin-top: 5%;
}

th.mat-header-cell{
    text-align: center;
}

